.modal-body{
    height: 520px;
}

.left-modal-body{
    width:55%;
    float:left;
}

.right-modal-body{
    width: 44%;
    float:left;
    margin-left: 5px;
    padding: 2%;
}

.placeholder img {
    display: inline-block;
    border-radius: 20%;
}

.thumbnailImage{
    height: 200px !important;
}

.select2-container{
    width: 100% !important;
    vertical-align: inherit !important;
}

.select2-container .select2-selection--single{
    height: 34px;
}

.error{
    color: red;
}

.btn-success{
    float: right;
    height: 50px;
}


.content-loader{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
    z-index: 1000000;
    text-align: center;
    top:0;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 10s linear infinite;
    z-index: 1000000;
    position: fixed;
    left: 50%;
    top: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(1024deg); }
}